# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Windows batch files should generally be CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.svg text
*.mp3 binary
*.db binary
*.bin binary
